PORT=3009
DB_MASTER_HOST=mysql_master
DB_MASTER_PORT=3306
DB_SLAVE_HOST=mysql_slave
DB_SLAVE_PORT=3306
DB_USER=root
DB_PASS=123456
DB_NAME=test
REDIS_HOST=redis
REDIS_PORT=6380
SESSION_SECRET=super_secret_key
